<div class="listbox">
  <div class="list-item header">
    <div class="item-index">
      Id <span (click)="sort('id')" class="material-icons"> filter_list </span>
    </div>
    <div class="item-name">
      Tarrif
      <span (click)="sort('tariffName')" class="material-icons"> filter_list </span>
    </div>
    <div class="item-speed-stats">
      Speed Stats
      <span (click)="sort('dlSpeed')" class="material-icons"> filter_list </span>
    </div>
    <div *ngIf="!isMobile && !isTablet" class="item-benefits">Benefits</div>
    <div class="item-price">
      Price
      <span (click)="sort('price')" class="material-icons"> filter_list </span>
    </div>
  </div>
  <div *ngFor="let plan of data | filter:filtercolumnName : isAsc" class="list-item">
    <div class="item-index">{{ plan.id }}</div>
    <div class="item-name">{{ plan.tariffName }}</div>
    <div class="item-speed-stats">
      <div class="chart">
        <ng-container
          [ngTemplateOutletContext]="{ $implicit: plan }"
          [ngTemplateOutlet]="
            isMobile === true ? speedGunMobile : speedGungeneral
          "
        >
        </ng-container>
      </div>
    </div>
    <div *ngIf="!isMobile && !isTablet" class="item-benefits">
      <ul>
        <li *ngFor="let benefit of plan.benefits">{{ benefit }}</li>
      </ul>
    </div>
    <div class="item-price">
      <div class="price-label">{{ plan.price | currency: "EUR":true }}</div>
      <div *ngIf="isMobile" class="button">
        <span class="material-icons bordered"> arrow_forward_ios </span>
      </div>
      <div *ngIf="!isMobile" class="tariff-button button bordered">
        To Tarrif <span class="material-icons"> arrow_forward_ios </span>
      </div>
    </div>
  </div>
</div>

<ng-template let-plan #speedGunMobile>
  <div class="mobile-speed-stats">
    <div class="speed-number">
      <span class="material-icons download"> get_app </span>
      <div class="speed-value">{{ plan.dlSpeed }}</div>
    </div>
    <div class="denomination">Mbits/s</div>
  </div>
</ng-template>
<ng-template let-plan #speedGungeneral>
  <div class="speed-stats flex-col">
    <div class="download flex-col">
      <label *ngIf="!isTablet">Download</label>
      <ng-container
        *ngTemplateOutlet="
          speedGraph;
          context: { data: 'download', speed: plan.dlSpeed }
        "
      ></ng-container>
    </div>
    <div class="upload flex-col">
      <label *ngIf="!isTablet">Upload</label>
      <ng-container
        *ngTemplateOutlet="
          speedGraph;
          context: { data: 'upload', speed: plan.ulSpeed }
        "
      ></ng-container>
    </div>
  </div>
</ng-template>

<ng-template let-data="data" let-speed="speed" #speedGraph>
  <div class="speed-graph">
    <div class="icon">
      <span
        class="material-icons"
        [ngClass]="data === 'upload' ? 'upload' : 'download'"
      >
        {{ data !== "upload" ? "get_app" : "upload" }}
      </span>
    </div>
    <div class="speed">{{ speed }} Mbits/s</div>
  </div>
</ng-template>
